#tbl_co
{
	width: 100%;
	height: 100%;
	padding-top: 45px;
	background-color: #f9f8f9;
	padding-left: 20%;
	padding-right: 20%;
}

#td-pd
{
	width: 50%;
	font-family: Helvetica Neue;
	font-size: 10pt;
}

#prod_deets
{
	font-family: Helvetica Neue;
	max-height: 100px;
}

input#qty 
{
	height: 30px;
	font-family: Helvetica Neue;
	font-size: 10pt;
	width: 50px;
	padding-left: 10px;
	border: none;
	border-bottom: 1px solid #4d4d4d;
}

input#flds
{
	height: 30px;
	font-family: Helvetica Neue;
	font-size: 10pt;
	width: 300px;
	padding-left: 10px;
	border: none;
	background-color: #efeeef;
}

input#flds-voucher
{
	height: 30px;
	font-family: Helvetica Neue;
	font-size: 10pt;
	width: 150px;
	padding-left: 10px;
	border: none;
	background-color: #efeeef;
}

#btn-remove
{
	color: black;
	background-color: white;
	height: 20px;
	width: 60px;
	border: none;
	font-family: helvetica neue;
}

#btn-remove:hover
{
	color: white;
	background-color: red;
}

#btn-chkout
{
	height: 30px;
	font-family: Gotham Black;
	font-size: 10pt;
	width: 150px;
	background-color: #dd6fff;
	color: #f9f8f9;  
	border: none;

}

#btn-chkout:hover
{
	background-color: #e993ff;
}

#td-cals
{
	vertical-align: top;
}