.body
{
top: 35px;
height: 800px;
width: 1340px;
margin: 0 auto;
background:url('Fish and Fins');
background-size:100% 100%;
}
.menu
{
background: rgba(0,0,0,.75);
border:5px ridge white;
text-shadow:4px, 4px, 8px, black, blue;
font-size: 20; 
font-weight: bolder;
font-family: ITC Avant Garde Gothic Pro;
background-size:1336px 100%;
background-color: ;	
width: 100%;
height: 45px;
position: fixed;
top: 0px;
right: -5px;
}
.footer
{
margin-top: 5px;
float: left;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;		
background: rgba(0,0,0,.95);
background-size:100% 100%;	
width: 105%;
margin-left: -10px;
height: 60px;
border: ridge;
color: white;
text-align: center;
font-family:  ITC Avant Garde Gothic Pro;
font-size: 20px;
}

.li a,.drop a
{
height: 40px;
display: block;
color: white;
text-align: center;
padding: 0px 25px;
text-decoration: none;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
.li a:hover:not(.active)
{
transition: 0.1s;
border-top: ridge;
border-left: ridge;
border-right: ridge;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
background: rgba(0,0,0,.85);
}
.active 
{
border-top: ridge;
border-left: ridge;
border-right: ridge;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
background: rgba(0,0,0,.95);
}

.ul
{
list-style-type:none;
margin: 0px;
padding-top: 0px;
}

.li, .drop
{
float:left;
height: 0 px;
margin-top:5px;
}
.skylord
 {	
 	margin-top: 62px;
	background:url('fish.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 700px;
	border: 2px ridge black;
}
.dc{
    margin-left: -3px;
    display: none;
    position: absolute;
    background: rgba(0,0,0,.75);
    min-width: 153px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dc a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dc a:hover {
    background: rgba(0,0,0,.55);
    border-radius: 0px;


}

.drop:hover .dc {
    display: block;
    background: rgba(0,0,0,.55);
    border-left: ridge;
    border-right: ridge;
    border-bottom: ridge;
}
.drop:hover:not(.active)
{
transition: 0.1s;
border-top: ridge;
border-left: ridge;
border-right: ridge;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
background: rgba(0,0,0,.85);
}
