@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,
*::after{
margin:0;
padding:0;
box-sizing: border-box;
}
:root{
    --after-content:'2';
}

body{
    width:100vw;
    font-family: 'Lato', sans-serif;
	background-image: url(../assets/websitebg.png);
	background-repeat: no-repeat;
  	background-attachment: fixed; 
 	background-size: 100% 100%;
}

h{
  font-size: 100px;
  color: white;
  margin-top: 50px;@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

  -webkit-text-stroke: 1px black;
}
.navbar{
	background: #3A3B3C;
}
.navbar img{
	height: 60px;
	width: 130px;
	margin-left: 30px;
}
.navbar .form-control{
	height: 40px;
	width: 350px;
	margin-left: 40px;
}
.navbar .btn, .navbar-toggler{
	border: 2px solid black;
	outline-style: outset;
	outline-color: #00A098;
}
.navbar .navbar-nav form {
  border: 3px solid #f1f1f1;
}
.navbar .navbar-nav .header{
  text-align: center;
}

.navbar .navbar-nav a{
  color:   #00A098;
  padding: 15px 40px;
  margin: 8px 60px;
  cursor: pointer;
  text-align: center;
}
.navbar .navbar-nav .userss{
    color:   #00A098;
    margin-left: 40px;
    padding-top: 22px;
 
  }
.navbar .navbar-nav .cart-icon{
  color:   #00A098;
  cursor: pointer;
  text-align: right;
}
h1{
    color: #fff;
}
.cart-box{
    width:26% !important;
    position: absolute;
    left:72%;
    top:25%;
    padding:10px 20px;
    color: black;
}
h2{
    font-size: x-large;
    padding:15px 10px;
}

.cart-wrapper{
    overflow-y: auto;
    max-height: 350px;
    width:24vw;
}
.subtotal{
    text-align: right;
    padding:5%;
}
.checkout, .view-cart{
    width:95%;
    text-align: center;
    cursor: pointer;
    background-color: #00A098;
    font-size: large;
    color: #fff;
    margin:10px auto;
    padding:10px 15px;
}

.cart-icon{
    position: relative;
    text-align: right;
}

.cart-item{
  display:grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding:5% 2%;
  border-bottom:solid 1px lightgray;  
}

.shop-section .cart-item img{
    width:250px;
    height: 250px;
}
.cart-item .details{
    padding-left:10%;
}

.cart-item h3{
  text-align: left; 
  margin-bottom:5%; 
}

.cart-item .price{
display: block;
text-align: right;
margin-top: 35%; 
  }
  
 .quantity{
     display: block;
     margin-top:5%;
 } 

 .fa-window-close{
     color: black;
     cursor: pointer;
 }
 .cancel{
     text-align: right;
 }
 .whole-cart-window{
     border: solid lightgray 1px;
     border-top:none;
     position: fixed;
     top:12vh;
     background-color: #fff;
     margin-right:2%;
 }

 .hide{
     display: none;
 }
.non-empty::after{
  content: var(--after-content);
  font-size: 25px;
  width:25px;
  display: inline-block;
  text-align: center;
  position: relative;
  top:-20px;
  right:20%;
  background-color: white;
  border-radius: 50%;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.card-item{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    height:600px;
    justify-content: center;
    align-items: center;
}
.card-item img{ 
    width:300px;
    height:300px;
}
.card-item .details{
    text-align: center;   
    color: #fff;  
}
.card-item .details a{
    text-align: center;   
    color: #fff; 
    text-decoration: none;
    background-color: #00A098;
    margin-top:10px;
    font-size: large;
    width: 120px;
    height: 45px; 
    border: none;
}
.card-item p,.card-item h3 {
    margin-top:10px;   
}
.card-item span{
    display: block;
    margin-top:10px;
}
.add-to-cart-btn{
    width: fit-content;
    margin:auto;
    /* margin-top:10px; */
    padding: 10px 15px;
    cursor: pointer;
    background-color: #00A098;
    border-radius: 3px;
    font-size: large;
    color:#fff;
}
